*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Spartan", sans-serif;
    font-size: 15px;
    background-color: hsl(180, 52%, 96%);
}

/* Header */

.header {
    height: 150px;
    background-image: url("../images/bg-header-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsl(180, 29%, 50%);
}

/* Filter */

.filter {
    position: absolute;
    left: 0;
    right: 0;
    top: 110px;
    
    max-width: 1000px;
    width: 100%;
    margin: auto auto;
    padding: 15px 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: white;
    box-shadow: 0 5px 10px hsla(0, 0%, 0%, .2);
    border-radius: 5px;
}

.filter--hidden {
    display: none;
}

.filter__labels {
    display: flex;
}

.filter__label {
    margin-right: 15px;
    display: flex;
    /* align-items: center; */
    border-radius: 5px;
    overflow: hidden;
}

.filter__link {
    padding: 10px;
    color: hsl(180, 29%, 50%);
    font-weight: bold;
    font-size: 13px;
    background-color: hsl(180, 31%, 95%);
}

.filter__close {
    padding: 0 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: hsl(180, 29%, 50%);
    color: white;
    border: 0;
    cursor: pointer;
    transition: all 200ms ease-out;
}

.filter__close:hover {
    background-color: hsl(180, 14%, 20%);
}


.filter__clear {
    font-size: 14px;
    text-decoration: none;
    color: hsl(180, 29%, 50%);
    font-weight: bold;
}

.filter__clear:hover {
    text-decoration: underline;
}

/* Jobs */

.jobs {
    max-width: 1000px;
    margin: 80px auto 100px;
}

.job {
    margin-bottom: 30px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    box-shadow: 0 0 5px hsla(0, 0%, 0%, .2);
    background-color: hsl(0, 0%, 100%);
    border-radius: 5px;
}

.job--featured {
    border-left: 5px solid hsl(180, 29%, 50%);
}

/* Job About */

.job__about {
    display: flex;
    align-items: center;
}

.job__info {
    margin-left: 20px;
}

.job__profile {
    display: flex;
    align-items: center;
}

.job__company {
    color:hsl(180, 29%, 50%);
    font-weight: bold;
}

.job__special {
    position: relative;
    margin-left: 10px;
    padding: 6px;
    font-size: 10px;
    color: hsl(180, 31%, 95%);
    border-radius: 10px;
}

.job__special--new {
    background-color: hsl(180, 29%, 50%);
}

.job__special--featured {
    background-color: hsl(180, 14%, 20%);
}

.job__title {
    display: block;
    margin: 10px 0 15px;
    color: hsl(180, 14%, 20%);
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
}

.job__title:hover {
    color:hsl(180, 29%, 50%);
}

.job__posting {
    display: flex;
}

.job__date,
.job__type,
.job__location {
    margin-right: 15px;
    color: hsl(180, 8%, 52%);
}

.job__type,
.job__location {
    margin-left: 10px;
    list-style-type: disc;
}

/* Job Labels */

.job__labels {
    display: flex;
}

.job__label {
    margin-left: 15px;
    background-color: hsl(180, 52%, 96%);
}

.job__link {
    display: block;
    padding: 10px;
    color: hsl(180, 29%, 50%);
    font-weight: bold;
    font-size: 13px;
    text-decoration: none;
    transition: all 200ms ease-out;
}

.job__link:hover {
    background-color: hsl(180, 29%, 50%);
    color: hsl(180, 31%, 95%);
}

@media all and (max-width: 900px) {
    /* Filter */

    .filter {
        margin: 0 20px;
        width: auto;
    }

    .filter__labels {
        flex-wrap: wrap;
    }
    
    .filter__label {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}